<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/home/home.component.css">
  </head>

  <body>
  <div id="navbar">
  <a class="active" href=" ">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  </div>
  
<script>
  window.onscroll = function() {myFunction()};
  
  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;
  
  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
  </script>
</body>

<div class="ProfilePhotoCenter" style="background-color: #aaa;">
  <span></span>
    <img [src]="Stiaan" alt="Stiaan">
  <span></span>
</div>

<section id="about">
  <div class="container">
    <div class="row">
      <h2>ABOUT</h2>
    </div>
  </div>
</section>


<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Personal Profile: </h2>
    <p>A bright, talented and ambitious young man with self-discipline and the ability to learn and master new skills. <br>
      Possessing a strong personality, good team spirit, deadline orientated and having the ability to organize and present complex solutions clearly and accurately. </p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Academic Background: </h2>
    <p>2015 – Matriculated from Diamantveld High School, Kimberley, Northern Cape Province, South Africa 
      Subjects passed: Afrikaans, English, Maths, Lifeorientation, Geography, Biology, CAT	<br>					
      2016:	Enrolled at Sol Plaatje University in Kimberley for Diploma Information Communication Technology. <br>
      2019:	Completed studies at Sol Plaatje University in Kimberley for Diploma Information Communication Technology.</p>
  </div>
</div>

<div class="row">
  <div class="column" style="background-color:#bbb;">
    <h2>Competent in: </h2>
    <p>HTML<span>CSS </span><br><br>SQL<span>&nbsp;&nbsp;&nbsp;&nbsp;Java </span><br><br> JavaScript <br><br> Visual Basic <br><br> GitHub <br><br> Angular </p>
  </div>
  <div class="column" style="background-color:#aaa;">
    <h2>Project undertaken whilst studying: </h2>
    <p>Created a point of sales system for a Lavender and Lace, a wool company in Kimberley. The main purpose of the system was to: <br><br>
      o	Track stock quantities and alert the user of low amounts of stock in certain areas;<br>
      o	Calculate the total value of all stock on the premises;<br>
      o	Deduct stock from the database once a purchase was made;<br>
      o	Allow the user the functionality of entering new stock into the database;<br><br>
      The system was developed using NetBeans - an IDE.  The system benefited the company significantly since they were still using old techniques of capturing stock manually, which took a whole day.

    </p>
  </div>
</div>

<section id="contact">
  <div class="container">
    <div class="row">
      <h2>Contact</h2>
    </div>
  </div>
</section>



